{% extends 'base.html.twig' %}

{% block title %}Connexion DNDPE{% endblock %}

{% block body %}


    <form method="post">

        <div class="container">
            <div class="row" style="margin-top: 20vh">
                <div class="col col-3"></div>
                <div class="col col-6">
                    <div style="margin-top: 1em" class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <img height="90" width="90" src="{{ asset('/img/logo.png') }}">
                            </div>
                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                                <div class="mb-3">
                                    <label for="inputUsername" class="form-label">Nom d'utilisateur: </label>
                                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Mot de passe: </label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                <button id="btn-one" type="submit" class="btn btn-primary">Connexion</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col col-3"></div>
            </div>
        </div>






        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}
    </form>

{% endblock %}


{% block js %}
    <script>





    </script>
{% endblock %}
