{% extends 'nav-courrier.html.twig' %}

{% import 'courrier/includes/_responses.html.twig' as responses %}

{% import 'courrier/includes/_responseTo.html.twig' as responseTo %}

{% import 'courrier/includes/_main.html.twig' as main %}

{% import 'courrier/includes/_displayFiles.html.twig' as displayFiles %}


{% block title %}Modifier {{ courrier.referenceInterne}}  {% endblock %}


{% block javascripts %}

    <script  src="{{ asset('/assets/js/jqueryui/jquery-ui.min.js') }}"></script>


{% endblock %}

 {% block stylesheets %}

     <link rel="stylesheet" href="{{ asset('/assets/css/lightbox/lightbox.min.css') }}" />
     <link rel="stylesheet" href="{{ asset('/assets/css/jqueryui/jquery-ui.min.css') }}" />
     <style>
         .example-image {
             width: 7rem;
             border-radius: var(--border-radius);
         }
     </style>
 {% endblock %}












{% block content %}


    {% if courrier.responseTo is not null and courrier.responseTo|length > 0 %}
        {% set num = CourrierJob.count(courrier) %}

        <div id="accordion">
            {{  responseTo.responseTo(courrier.responseTo,num) }}
        </div>


    {% endif %}



    {% if courrierForm.sender is defined %}

        {% form_theme courrierForm.sender 'bootstrap_4_layout.html.twig' %}

    {% endif %}

    {% if courrierForm.receiver is defined %}

        {% form_theme courrierForm.receiver 'bootstrap_4_layout.html.twig' %}

    {% endif %}



    {%
        form_theme courrierForm.piecejointe
        'themes/jquery.collection.html.twig' 'themes/pieceJointeEdit.html.twig'
    %}




    {% form_theme courrierForm.datecourrier'bootstrap_4_layout.html.twig' %}
    {% form_theme courrierForm.referenceInterne'bootstrap_4_layout.html.twig' %}
    {% form_theme courrierForm.sujet'bootstrap_4_layout.html.twig' %}
    {% form_theme courrierForm.type'bootstrap_4_layout.html.twig' %}





    <div style="margin-left:{{ courrier.responseTo ? '4em' : '' }} ;margin-top: 1em; ">


        {% if courrier.responseTo is not null %}

            <div class="row mt-5">

                <div class="col col-12">
                    <h5 class="font-weight-bold">Modifier Re: {{ courrier.responseTo.referenceInterne }} : {{ courrier.responseTo.sujet }}</h5>
                </div>
            </div>

            <hr>

        {% else %}

            <div class="row">

                <div class="col col-12">
                    <h5 class="font-weight-bold">Modifier {{ courrier.referenceInterne }}</h5>
                </div>

            </div>

            <hr>

        {% endif %}

        {{ form_start(courrierForm) }}

        <div class="{{ courrier.responseTo ? 'blockquote' : '' }}" style="font-size: medium!important;">
            <div class="row">
                <div class="col col-8">
                    <div class="text-danger">
                        {{ form_errors(courrierForm) }}
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col col-5 mb-3">
                    <div id="formLabel"></div>
                    <div id="formContent"></div>
                </div>
            </div>


            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(courrierForm.datecourrier, "", {'label_attr': {'class': 'intitule_label'}}) }}

                        {% if courrier.responseTo is not null %}
                            {{ form_widget(courrierForm.datecourrier, {'attr': {'class': 'form-control','min': courrier.responseTo.datecourrier|date("Y-m-d") }}) }}
                        {% else %}
                            {{ form_widget(courrierForm.datecourrier, {'attr': {'class': 'form-control'}}) }}
                        {% endif %}


                        <div class="form-error" style="color: red">
                            {{ form_errors(courrierForm.datecourrier) }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(courrierForm.referenceInterne, "", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(courrierForm.referenceInterne, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(courrierForm.referenceInterne) }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(courrierForm.type, "", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(courrierForm.type, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(courrierForm.type) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(courrierForm.sujet, "", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(courrierForm.sujet, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(courrierForm.sujet) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-12 mt-4" >
                    <div class="mb-3">
                        {{ form_label(courrierForm.commentaire, "", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(courrierForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(courrierForm.commentaire) }}
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col col-12 mt-4" >
                    <div class="mb-3">
                        {{ form_label(courrierForm.piecejointe, "", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(courrierForm.piecejointe) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(courrierForm.piecejointe) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top: 2em">

            <div class="col col-12">
                <div class="card" style="background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.125);">
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-2">
                                {{ form_row(courrierForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                            </div>
                            <div class="col col-2">
                                {{ form_row(courrierForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {{ form_end(courrierForm) }}
    </div>

    <hr>

    <div class="mt-5"></div>

    {% if courrier.responses is not null and courrier.responses|length > 0 %}

        <div id="accordion_response">
            {% for index,response in courrier.responses %}

                {{  responses.responses(response, 1) }}

            {% endfor %}
        </div>


    {% endif %}



{% endblock %}



{% block botton_javascripts %}

    <script src="{{ asset('assets/js/jquery.collection.js') }}"></script>

    <script src="{{ asset('/assets/js/lightbox/lightbox.min.js') }}">

    </script>

    <script type="text/javascript">

        $(function(){

            $('.custom-file input').change(function (e) {
                if (e.target.files.length) {
                    $(this).next('.custom-file-label').html(e.target.files[0].name);
                }
            });

            $('.piecejointe-collection').collection({
                add: '<a href="#" class="btn btn-rounded btn-sm btn-primary"><span class="fa fa-plus-circle"></span> Ajouter une piece-jointe </a>',
                remove: '<a href="#" class="btn btn-rounded btn-sm btn-danger"><span class="fa fa-plus-circle"></span> Supprimer la piece-jointe </a>',
                allow_down:false,
                allow_up:false,
                after_add: function(collection, element) {
                    $('.custom-file input').change(function (e) {
                        if (e.target.files.length) {
                            $(this).next('.custom-file-label').html(e.target.files[0].name);
                        }
                    });
                },
            });


            {% for key,pieces in courrier.piecejointe %}


                $('#item_courrier_edit_piecejointe_{{ key }}').html(`{{ displayFiles.displayFile(pieces) }}`)




            {% endfor %}


            $( "#accordion" ).accordion({
                heightStyle: "content",
                collapsible: true
            });

            $( "#accordion_response" ).accordion({
                heightStyle: "content",
                collapsible: true
            });

            var index = $('.mainCourrier').index();

            index=index/2; //index is zero based for jquery ui.
            console.log(index)
            $( "#accordion" ).accordion( "option", "active", index );

        })


    </script>

    <script>



        var $flux = $('#courrier_flux');
        // When sport gets selected ...
        $flux.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {};
            data[$flux.attr('name')] = $flux.val();

            console.log($form.attr('action'))
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {

                    if ($(html).find('#courrier_receiver').length > 0) {

                        $('#formLabel').html('<label class="intitule_label required" for="courrier_flux">Destinataire : </label>')

                        $('#formContent').html($(html).find('#courrier_receiver'))
                    }

                    if ($(html).find('#courrier_sender').length > 0) {

                        $('#formLabel').html('<label class="intitule_label required" for="courrier_flux">Expéditeur : </label>')

                        $('#formContent').html($(html).find('#courrier_sender'))
                    }
                }
            });
        });


    </script>


{% endblock %}

