{% extends 'nav.html.twig' %}

{% block title %}Tableau de bord{% endblock %}


 {% block stylesheets %}

     <style>

     </style>

 {% endblock %}


{% block content %}



        <div style="margin-top: 1em; ">


            {{ form_start(affaireForm) }}

            <div class="row">
                <div class="col col-8">
                    <div class="text-danger">
                        {{ form_errors(affaireForm) }}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(affaireForm.nom, "Nom de l'affaire: ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(affaireForm.nom, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(affaireForm.nom) }}
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(affaireForm.description, "Description: ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(affaireForm.description, {'attr': {'class': 'form-control md-textarea '}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(affaireForm.description) }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(affaireForm.source, "Source: ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(affaireForm.source, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(affaireForm.source) }}
                        </div>
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(affaireForm.niveauAccreditation, "Niveau d'accreditation: ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(affaireForm.niveauAccreditation, {'attr': {'class': 'form-control','min': 1,'max':  app.user.niveauAccreditation  }}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(affaireForm.niveauAccreditation) }}
                        </div>
                    </div>
                </div>
            </div>



           <div class="row">
               <div class="col col-12 mt-4" >
                   <div class="mb-3">
                       {{ form_label(affaireForm.source, "Rapport initial: ", {'label_attr': {'class': 'intitule_label'}}) }}
                       {{ form_widget(affaireForm.resume, {'attr': {'class': 'form-control'}}) }}
                       <div class="form-error" style="color: red">
                           {{ form_errors(affaireForm.resume) }}
                       </div>
                   </div>
               </div>
           </div>

            <div class="row" style="margin-top: 5em">
                <div class="col col-12">
                    <div class="row">
                        <div class="col col-2">
                            {{ form_row(affaireForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                        </div>
                        <div class="col col-2">
                            {{ form_row(affaireForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(affaireForm) }}
        </div>






{% endblock %}




