{% extends 'nav.html.twig' %}

{% block title %}Tableau de bord{% endblock %}


 {% block stylesheets %}

     <style>

         CSS
         .number-input input[type="number"] {
             -webkit-appearance: textfield;
             -moz-appearance: textfield;
             appearance: textfield;
         }

         .number-input input[type=number]::-webkit-inner-spin-button,
         .number-input input[type=number]::-webkit-outer-spin-button {
             -webkit-appearance: none;
         }

         .number-input {
             display: flex;
             justify-content: space-around;
             align-items: center;
         }

         .number-input button {
             -webkit-appearance: none;
             background-color: transparent;
             border: none;
             align-items: center;
             justify-content: center;
             cursor: pointer;
             margin: 0;
             position: relative;
         }

         .number-input button:before,
         .number-input button:after {
             display: inline-block;
             position: absolute;
             content: '';
             height: 2px;
             transform: translate(-50%, -50%);
         }

         .number-input button.plus:after {
             transform: translate(-50%, -50%) rotate(90deg);
         }

         .number-input input[type=number] {
             text-align: center;
         }

         .number-input.number-input {
             border: 1px solid #ced4da;
             width: 10rem;
             border-radius: .25rem;
         }

         .number-input.number-input button {
             width: 2.6rem;
             height: .7rem;
         }

         .number-input.number-input button.minus {
             padding-left: 10px;
         }

         .number-input.number-input button:before,
         .number-input.number-input button:after {
             width: .7rem;
             background-color: #495057;
         }

         .number-input.number-input input[type=number] {
             max-width: 4rem;
             padding: .5rem;
             border: 1px solid #ced4da;
             border-width: 0 1px;
             font-size: 1rem;
             height: 2rem;
             color: #495057;
         }

         @media not all and (min-resolution:.001dpcm) {
             @supports (-webkit-appearance: none) and (stroke-color:transparent) {

                 .number-input.def-number-input.safari_only button:before,
                 .number-input.def-number-input.safari_only button:after {
                     margin-top: -.3rem;
                 }
             }
         }
     </style>

 {% endblock %}


{% block content %}



        <div style="margin-top: 1em; ">


            {{ form_start(affaireForm) }}

            <div class="row">
                <div class="col col-8">
                    <div class="text-danger">
                        {{ form_errors(affaireForm) }}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(affaireForm.nom, "Nom de l'affaire: ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(affaireForm.nom, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(affaireForm.nom) }}
                        </div>
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(affaireForm.description, "Description: ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(affaireForm.description, {'attr': {'class': 'form-control md-textarea '}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(affaireForm.description) }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(affaireForm.source, "Source: ", {'label_attr': {'class': 'intitule_label'}}) }}
                        {{ form_widget(affaireForm.source, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error" style="color: red">
                            {{ form_errors(affaireForm.source) }}
                        </div>
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="col col-5">
                    <div class="mb-3">
                        {{ form_label(affaireForm.niveauAccreditation, "Niveau d'accreditation: ", {'label_attr': {'class': 'intitule_label'}}) }}
                        <div class="def-number-input number-input safari_only">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                            {{ form_widget(affaireForm.niveauAccreditation, {'attr': {'class': 'form-control','min': 1,'max':  app.user.niveauAccreditation  }}) }}
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                        </div>
                        <div class="form-error" style="color: red">
                            {{ form_errors(affaireForm.niveauAccreditation) }}
                        </div>
                    </div>
                </div>
            </div>



           <div class="row">
               <div class="col col-12 mt-4" >
                   <div class="mb-3">
                       {{ form_label(affaireForm.source, "Rapport initial: ", {'label_attr': {'class': 'intitule_label'}}) }}
                       {{ form_widget(affaireForm.resume, {'attr': {'class': 'form-control'}}) }}
                       <div class="form-error" style="color: red">
                           {{ form_errors(affaireForm.resume) }}
                       </div>
                   </div>
               </div>
           </div>

            <div class="row" style="margin-top: 5em">
                <div class="col col-12">
                    <div class="row">
                        <div class="col col-2">
                            {{ form_row(affaireForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                        </div>
                        <div class="col col-2">
                            {{ form_row(affaireForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(affaireForm) }}
        </div>






{% endblock %}




