{% extends 'nav.html.twig' %}

{% block title %}Affaires{% endblock %}


{% block javascripts %}

    <script  src="{{ asset('/assets/js/datepicker/moment.min.js') }}"></script>
    <script  src="{{ asset('/assets/js/datepicker/daterangepicker.js') }}"></script>
    <script  src="{{ asset('/assets/js/custom/picker.js') }}"></script>

{% endblock %}

 {% block stylesheets %}

     <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.dataTables.css') }}" />
     <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.bootstrap5.css') }}" />>

     <style>
         .dt-buttons{
             margin-bottom: 1em!important;
             margin-left: 0.5em!important;
         }
         #tab-content{
             display: none;
         }
         #loader{
             display: block;
         }
         #loading {
             background: url('{{ asset('/assets/img/loader.gif') }}') no-repeat center center;
             position: absolute;
             top: 0;
             left: 0;
             height: 100%;
             width: 100%;
             z-index: 9999999;
         }
         .pagination .page-item .page-link{
             color: white!important;
         }
     </style>
 {% endblock %}


{% block content %}




    <div style="margin-top: 1em; ">

        <!-- entite -->

        {% if entite is not null %}

            <!-- Modal entite -->
            <div class="modal fade" id="entiteModal" tabindex="-1" role="dialog" aria-labelledby="entiteModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">

                <div class="modal-dialog modal-lg modal-notify modal-info modal-dialog-scrollable" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header">
                            <p class="heading lead">Entite</p>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">×</span>
                            </button>
                        </div>

                        <!--Body-->
                        <div class="modal-body">

                            <div class="d-flex justify-content-between">
                                <!-- <i class="fas fa-window-close fa-4x mb-3 animated rotateIn"></i> -->

                                <div>

                                    <table class="table text-left display">

                                        <tr>
                                            <td>
                                                <span class="font-weight-bold">Role  : </span>
                                            </td>
                                            <td>
                                                <span class="text-uppercase">
                                                    {% if constant('ROLE_SUSPECT', entite)  == entite.role %}
                                                        Suspect
                                                    {% endif %}
                                                    {% if constant('ROLE_INTEREST', entite) == entite.role %}
                                                        personne d'interet
                                                    {% endif %}
                                                    {% if constant('ROLE_VICTIME', entite) == entite.role %}
                                                        victime
                                                    {% endif %}
                                                    {% if constant('ROLE_SOURCE', entite) == entite.role %}
                                                        source
                                                    {% endif %}
                                                </span>
                                            </td>
                                        </tr>

                                        {% if entite.isPersonne() is defined %}

                                            <tr>
                                                <td>
                                                    <span class="font-weight-bold">Nom et prenoms  : </span>
                                                </td>
                                                <td>
                                                    <span class="text-uppercase">{{ entite.nom }} &nbsp {{ entite.prenom }}</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="font-weight-bold">Alias  : </span>
                                                </td>
                                                <td>
                                                    <span>
                                                         {% if entite.aliases is not null %}

                                                             {% for alias in entite.aliases %}
                                                                 {{ alias.alias }}
                                                             {% endfor %}

                                                         {% endif %}
                                                    </span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="font-weight-bold">Telephones  : </span>
                                                </td>
                                                <td>
                                                    <span>
                                                         {% if entite.telephone is not null %}

                                                             {% for telephone in entite.telephone %}
                                                                 <p>
                                                                     <span>{{ telephone.numero }}</span>
                                                                     <span>
                                                                         <a download style="text-decoration: none" href="{{ asset('/upload/') }}{{ telephone.fichierCdr }}" class="btn-floating btn-sm btn-secondary"><i class="fas fa-download"></i></a>
                                                                     </span>
                                                                 </p>
                                                             {% endfor %}

                                                         {% endif %}
                                                    </span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="font-weight-bold">Sexe  : </span>
                                                </td>
                                                <td>
                                                    <span>
                                                        {% if constant('SEXE_IND', entite) == entite.sexe %}
                                                            Indetermine
                                                        {% endif %}
                                                        {% if constant('SEXE_HOMME', entite) == entite.sexe %}
                                                            Homme
                                                        {% endif %}
                                                        {% if constant('SEXE_FEMME', entite) == entite.sexe %}
                                                            Femme
                                                        {% endif %}
                                                    </span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="font-weight-bold">Date de naissance  : </span>
                                                </td>
                                                <td>
                                                    <span>{{ entite.dateNaissance|date('d-m-Y') }}</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="font-weight-bold">Numero de passport  : </span>
                                                </td>
                                                <td>
                                                    <span>{{ entite.numPassport }} </span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="font-weight-bold">Numero de carte d'identite  : </span>
                                                </td>
                                                <td>
                                                    <span>{{ entite.numCarte }} </span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="font-weight-bold">Pays d'origine  : </span>
                                                </td>
                                                <td>
                                                    <span>{{ entite.nationalite }}</span>
                                                </td>
                                            </tr>

                                        {% else %}

                                            <tr>
                                                <td>
                                                    <span class="font-weight-bold">Nom  : </span>
                                                </td>
                                                <td>
                                                    <span>{{ entite.description }}</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="font-weight-bold">Description  : </span>
                                                </td>
                                                <td>
                                                    <span>{{ entite.description2 }}</span>
                                                </td>
                                            </tr>

                                            {% if entite.isVehicule() is defined %}
                                                <tr>
                                                    <td>
                                                        <span class="font-weight-bold">Categorie  : </span>
                                                    </td>
                                                    <td>
                                                        <span>{{ entite.categorie }}</span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span class="font-weight-bold">immatriculation  : </span>
                                                    </td>
                                                    <td>
                                                        <span>{{ entite.immatriculation }}</span>
                                                    </td>
                                                </tr>

                                            {% endif %}


                                        {% endif %}

                                        <tr>
                                            <td>
                                                <span class="font-weight-bold">Resume  : </span>
                                            </td>
                                            <td>
                                                {{ entite.resume | raw }}
                                            </td>
                                        </tr>

                                    </table>


                                </div>

                                <div class="mb-2">
                                    <img src="{{ asset('/upload/') }}{{ entite.mainPicture }}" alt="thumbnail" class="img-thumbnail"
                                         style="width: 8em;height: 8em">
                                </div>

                            </div>

                            <div>

                                <table class="table table-bordered text-center">
                                    <!-- Table head -->
                                    <thead>
                                    <tr>
                                        <th>
                                            Nom
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Taille
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <!-- Table head -->

                                    <!-- Table body -->
                                    <tbody>
                                    {% if entite is not null %}
                                        {% for file in entite.attachements %}
                                            <tr>
                                                <th class="font-weight-bold">
                                                    {{ file.name }}
                                                </th>
                                                <td class="text-center">
                                                    {{ file.getThumbnail()| raw}}
                                                </td>
                                                <td>
                                                    {{ file.getFileSize() }}
                                                </td>
                                                <td>
                                                    <a download href="{{ asset('/upload/') }}{{ file.name }}" class="btn btn-outline-deep-purple">
                                                        <i style="color: inherit" class="fas fa-file-download"></i>
                                                        <span class="font-weight-bold">Telecharger</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                    </tbody>
                                    <!-- Table body -->
                                </table>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer">
                            <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Fermer</a>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!-- Modal entite -->

        {% endif %}




        <!-- envenement -->

        {% if envenement is not null %}

            <!-- Modal entite -->
            <div class="modal fade" id="envenementModal" tabindex="-1" role="dialog" aria-labelledby="envenementModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">

                <div class="modal-dialog modal-lg modal-notify modal-info modal-dialog-scrollable" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header">
                            <p class="heading lead">Evenement</p>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="white-text">×</span>
                            </button>
                        </div>

                        <!--Body-->
                        <div class="modal-body">

                            <div class="">
                                <!-- <i class="fas fa-window-close fa-4x mb-3 animated rotateIn"></i> -->

                                <div>
                                    <table class="table table-bordered text-left display">

                                        <tr>
                                            <td>
                                                <span class="font-weight-bold">Type : </span>
                                            </td>
                                            <td class="text-uppercase">
                                                {% if envenement.typeEvenement == constant('EVENT_PER', envenement)  %}
                                                    <span class="font-weight-bold">perquisition</span>
                                                {% endif %}

                                                {% if envenement.typeEvenement == constant('EVENT_AUD', envenement)  %}
                                                    <span class="font-weight-bold">audition</span>
                                                {% endif %}

                                                {% if envenement.typeEvenement == constant('EVENT_FIL', envenement)  %}
                                                    <span class="font-weight-bold">filature</span>
                                                {% endif %}

                                                {% if envenement.typeEvenement == constant('EVENT_OTHER', envenement)  %}
                                                    <span class="font-weight-bold">autre</span>
                                                {% endif %}

                                                {% if envenement.typeEvenement == constant('EVENT_INFIL', envenement)  %}
                                                    <span class="font-weight-bold">infiltration</span>
                                                {% endif %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <span class="font-weight-bold">Titre : </span>
                                            </td>
                                            <td>
                                                {{ envenement.titre }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <span class="font-weight-bold">Lieu : </span>
                                            </td>
                                            <td>
                                                {{ envenement.localisation }}
                                            </td>
                                        </tr>

                                        {% if envenement.geoLocalisation is not null %}
                                            <tr>
                                                <td>
                                                    <span class="font-weight-bold">Coodonees  : </span>
                                                </td>
                                                <td>
                                                    {{ envenement.geoLocalisation }}
                                                </td>
                                            </tr>
                                        {% endif %}

                                        <tr>
                                            <td>
                                                <span class="font-weight-bold">Dates : </span>
                                            </td>
                                            <td>
                                                {{ envenement.startAt|date('d-m-Y H:i:s') }}
                                                {% if envenement.endAt is not null %}
                                                    au &nbsp; {{ envenement.endAt|date('d-m-Y H:i:s') }}
                                                {% endif %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <span class="font-weight-bold">Entites : </span>
                                            </td>
                                            <td>

                                                <ul class="list-group">
                                                    {% for entite in envenement.entite %}
                                                        <li class="list-group-item">
                                                            <a href="{{ path('affaire_details_entite', {id: affaire.id, entite_id: entite.id }) }}" style="text-decoration: none">
                                                                <span class="text-uppercase">{{ entite.description }}</span>&nbsp;<span class="text-uppercase">{{ entite.description2 }}</span>
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                <span class="font-weight-bold">Agents : </span>
                                            </td>
                                            <td>

                                                <ul class="list-group">
                                                    {% for utilisateur in envenement.utilisateur %}
                                                        <li class="list-group-item disabled">
                                                            <span class="text-uppercase">{{ utilisateur.nom }}</span>&nbsp;<span class="text-uppercase">{{ utilisateur.prenom }}</span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <span class="font-weight-bold">Resume : </span>
                                            </td>
                                            <td>
                                                {{ envenement.resume | raw }}
                                            </td>
                                        </tr>

                                    </table>


                                </div>

                            </div>

                            <div>

                                <table class="table table-bordered text-center">
                                    <!-- Table head -->
                                    <thead>
                                    <tr>
                                        <th>
                                            Nom
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Taille
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <!-- Table head -->

                                    <!-- Table body -->
                                    <tbody>
                                    {% if envenement is not null %}
                                        {% for file in envenement.attachements %}
                                            <tr>
                                                <th class="font-weight-bold">
                                                    {{ file.name }}
                                                </th>
                                                <td class="text-center">
                                                    {{ file.getThumbnail()| raw}}
                                                </td>
                                                <td>
                                                    {{ file.getFileSize() }}
                                                </td>
                                                <td>
                                                    <a download href="{{ asset('/upload/') }}{{ file.name }}" class="btn btn-outline-deep-purple">
                                                        <i style="color: inherit" class="fas fa-file-download"></i>
                                                        <span class="font-weight-bold">Telecharger</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                    </tbody>
                                    <!-- Table body -->
                                </table>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer">
                            <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Fermer</a>
                        </div>
                    </div>
                    <!--Content-->
                </div>
            </div>
            <!-- Modal entite -->

        {% endif %}


        {% for message in app.session.flashbag.get('create_personne') %}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}


        {% for message in app.session.flashbag.get('create_vehicule') %}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}



        {% for message in app.session.flashbag.get('create_organisation') %}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% for message in app.session.flashbag.get('delete_entite') %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}


        {% for message in app.session.flashbag.get('delete_event') %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}


        {% for message in app.session.flashbag.get('create_evenement') %}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}




        <ul class="nav nav-tabs md-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="affaire-tab" data-toggle="tab" href="#affaire" type="button" role="tab" aria-controls="todo" aria-selected="true">Affaire</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="entite-tab" data-toggle="tab" href="#entite" type="button" role="tab" aria-controls="entite" aria-selected="false">Entites</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="envenement-tab" data-toggle="tab" href="#envenement" type="button" role="tab" aria-controls="envenement" aria-selected="false">Evenements</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="report-tab" data-toggle="tab" href="#report" type="button" role="tab" aria-controls="report" aria-selected="false">Rapports</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="administration-tab" data-toggle="tab" href="#administration" type="button" role="tab" aria-controls="administration" aria-selected="false">Administration</a>
            </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContent">

            <!-- Tab Affaire -->

            <div class="tab-pane fade show active" id="affaire" role="tabpanel" aria-labelledby="affaire-tab">
                <div class="row" style="margin-top:  1em; margin-left: 1em; width: 100% ">
                    <div class="col col-8">
                        <div class="card card-cascade">
                            <div class="view view-cascade gradient-card-header blue-gradient">

                                <h2 class="card-subtitle mb-3">Affaire</h2>

                            </div>
                            <!-- Card content -->
                            <div class="card-body card-body-cascade">
                                <div class="mb-2 ">
                                    <span class="font-weight-bold">Numero de dossier : </span>
                                    <span >{{ affaire.numeroMatricule }}</span>
                                </div>
                                <div class="mb-2">
                                    <span class="font-weight-bold">Nom : </span>
                                    <span class="text-break">{{ affaire.nom }}</span>
                                </div>

                                <div class="mb-2">
                                    <span class="font-weight-bold">Description : </span>
                                    <span class="text-break">{{ affaire.description }}</span>
                                </div>

                                <div class="mb-2">
                                    <span class="font-weight-bold">Niveau d'accreditation : </span>
                                    <span>{{ affaire.niveauAccreditation }}</span>
                                </div>

                                <div class="mb-2">
                                    <span class="font-weight-bold">Date d'ouverture : </span>
                                    <span>{{ affaire.createdAt|date('d-m-Y H:i:s') }}</span>
                                </div>

                                <div class="mb-2">
                                    <span class="font-weight-bold">Ouvert par : </span>
                                    <span class="text-uppercase">{{ affaire.createdBy.nom }}&nbsp;{{ affaire.createdBy.prenom }}</span>
                                </div>

                                <div class="mb-5">
                                    <span class="font-weight-bold">Departement en charge : </span>
                                    <span class="text-uppercase">{{ affaire.departement.nom }}</span>
                                </div>
                            </div>

                        </div>



                        <div class="mb-5">

                            <div class="card card-cascade">
                                <div class="view view-cascade gradient-card-header aqua-gradient">

                                    <h2 class="card-subtitle mb-3">Rapport initial</h2>

                                </div>
                                <!-- Card content -->
                                <div class="card-body card-body-cascade">
                                    <div>{{ affaire.resume|raw }}</div>
                                </div>

                            </div>

                        </div>


                        <div class="mb-2">


                            <div class="mb-5">

                                <div class="card card-cascade">
                                    <div class="view view-cascade gradient-card-header blue-gradient">

                                        <h2 class="card-subtitle mb-3">En charge du dossier</h2>

                                    </div>
                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade">
                                        <table id="dtMaterialDesignExample" class="table text-left display" >
                                            <thead>
                                            <tr>
                                                <th class="th-sm">
                                                </th>
                                                <th class="th-sm">Nom et Prenoms
                                                </th>
                                                <th class="th-sm">Departement
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for utilisateur in affaire.affaireUtilisateurs %}
                                                {% if utilisateur.isRevoked == false %}
                                                    <tr>
                                                        <td class="text-center">
                                                            <i class="fa fa-user"></i>
                                                        </td>
                                                        <td class="text-uppercase">{{ utilisateur.utilisateur.nom }}&nbsp;{{ utilisateur.utilisateur.prenom }}</td>
                                                        <td>{{ utilisateur.utilisateur.departement.nom }}</td>
                                                    </tr>
                                                {% endif %}

                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Tab Affaire -->


            <!-- Tab Entites -->
            <div class="tab-pane fade" id="entite" role="tabpanel" aria-labelledby="entite-tab">



                <div class="row" style="margin-top: 1em">

                   <div class="col col-12">
                       <div class="card card-cascade">
                           <div class="view view-cascade gradient-card-header blue-gradient">

                               <h2 class="card-subtitle mb-3">Entites</h2>

                           </div>
                           <!-- Card content -->
                           <div class="card-body card-body-cascade">



                               <div class="dropdown">

                                   <!--Trigger-->
                                   <a class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false">Ajouter une entite</a>


                                   <!--Menu-->
                                   <div class="dropdown-menu dropdown-primary">
                                       <a class="dropdown-item" href="{{ path('create_entite',{'id': affaire.id,'type':1}) }}">Personne</a>
                                       <a class="dropdown-item" href="{{ path('create_entite',{'id': affaire.id,'type':2}) }}">Vehicule</a>
                                       <a class="dropdown-item" href="{{ path('create_entite',{'id': affaire.id ,'type':3}) }}">Organisation</a>
                                   </div>
                               </div>



                               <table id="dtMaterialDesignExample" class="table table-bordered table-striped text-left display" >
                                   <thead>
                                   <tr>
                                       <th class="th-sm">
                                       </th>
                                       <th class="th-sm">Nom / Prenom /Description
                                       </th>
                                       <th class="th-sm">Alias
                                       </th>
                                       <th class="th-sm">Description
                                       </th>
                                       <th class="th-sm">Role
                                       </th>
                                       <th class="th-sm">
                                           Action
                                       </th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   {% for entite in affaire.entites %}
                                       <tr>
                                           <td class="text-center">
                                               <img src="{{ asset('/upload/') }}{{ entite.mainPicture }}" alt="thumbnail" class="img-thumbnail"
                                                    style="width: 8em;height: 8em">
                                           </td>
                                           <td class="text-uppercase">{{ entite.description }}&nbsp;{{ entite.description2 }}</td>

                                           <td class="text-uppercase">
                                               {% if entite.aliases is defined   %}
                                                   {% for alias in entite.aliases %}
                                                       {{ alias.alias }}
                                                   {% endfor %}
                                               {% endif %}
                                           </td>

                                           <td class="text-reset  ">
                                               {{ entite.resume | raw }}
                                           </td>


                                           <td>
                                               {% if entite.role == constant('ROLE_SUSPECT', entite)  %}
                                                   <span class="font-weight-bold">SUSPECT</span>
                                               {% endif %}

                                               {% if entite.role == constant('ROLE_INTEREST', entite)  %}
                                                   <span class="font-weight-bold">PERSONNE D'INTERET</span>
                                               {% endif %}

                                               {% if entite.role == constant('ROLE_VICTIME', entite)  %}
                                                   <span class="font-weight-bold">VICTIME</span>
                                               {% endif %}

                                               {% if entite.role == constant('ROLE_SOURCE', entite)  %}
                                                   <span class="font-weight-bold">SOURCE</span>
                                               {% endif %}

                                           </td>

                                           <td>

                                               <div class="d-flex align-items-center">

                                                   {% if entite.isPersonne() is defined %}
                                                       {% set type = 1 %}
                                                   {% endif %}
                                                   {% if entite.isVehicule() is defined %}
                                                       {% set type = 2 %}
                                                   {% endif %}
                                                   {% if entite.isOrganisation() is defined %}
                                                       {% set type = 3 %}
                                                   {% endif %}

                                                   <a href="{{ path('affaire_details_entite', {id: affaire.id, entite_id: entite.id }) }}" class="btn-floating btn-sm btn-primary">
                                                       <i class="fa fa-eye"></i>
                                                   </a>
                                                   <a href="{{ path('update_entite', {id: affaire.id, type: type, entite_id: entite.id }) }}" class="btn-floating btn-sm btn-deep-purple">
                                                       <i class="fa fa-pen">
                                                       </i>
                                                   </a>
                                                   <a href="{{ path('delete_entite', {id: entite.id }) }}" class="btn-floating btn-sm btn-danger" onclick="return confirm('Voulez vous vraiment supprimer cette entite ?')">
                                                       <i  class="fa fa-trash" ></i>
                                                   </a>
                                               </div>
                                           </td>

                                       </tr>
                                   {% endfor %}

                                   </tbody>
                               </table>
                           </div>
                       </div>
                   </div>

                </div>
            </div>
            <!-- Tab Entites -->

            <!-- Tab Evenement -->
            <div class="tab-pane fade" id="envenement" role="tabpanel" aria-labelledby="envenement-tab">
                <div class="row" style="margin-top: 1em">



                    <div class="col col-12" style="margin-top: 1em">

                        <div class="card card-cascade">
                            <div class="view view-cascade gradient-card-header blue-gradient">

                                <h2 class="card-subtitle mb-3">Evenements</h2>

                            </div>
                            <!-- Card content -->
                            <div class="card-body card-body-cascade">

                                <div class="dropdown">

                                    <!--Trigger-->
                                    <a href="{{ path('envenement_create',{'id': affaire.id}) }}" class="btn btn-outline-primary" type="button">Ajouter un evenement</a>

                                </div>



                                <table id="dtMaterialDesignExample" class="table text-left table-bordered table-striped display" >
                                    <thead>
                                    <tr>
                                        <th class="th-sm">
                                            Type
                                        </th>
                                        <th class="th-sm">
                                            Titre
                                        </th>
                                        <th class="th-sm">
                                            Entites
                                        </th>
                                        <th class="th-sm">
                                            Dates
                                        </th>
                                        <th class="th-sm">
                                            Localisation
                                        </th>
                                        <th class="th-sm">
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for event in affaire.envenements %}
                                        <tr>
                                            <td class="text-center text-uppercase">
                                                {% if event.typeEvenement == constant('EVENT_PER', event)  %}
                                                    <span class="font-weight-bold">perquisition</span>
                                                {% endif %}

                                                {% if event.typeEvenement == constant('EVENT_AUD', event)  %}
                                                    <span class="font-weight-bold">audition</span>
                                                {% endif %}

                                                {% if event.typeEvenement == constant('EVENT_FIL', event)  %}
                                                    <span class="font-weight-bold">filature</span>
                                                {% endif %}

                                                {% if event.typeEvenement == constant('EVENT_OTHER', event)  %}
                                                    <span class="font-weight-bold">autre</span>
                                                {% endif %}

                                                {% if event.typeEvenement == constant('EVENT_INFIL', event)  %}
                                                    <span class="font-weight-bold">infiltration</span>
                                                {% endif %}
                                            </td>

                                            <td class="text-uppercase">
                                                {{ event.titre }}
                                            </td>

                                            <td>

                                                <ul class="list-group">
                                                    {% for entite in event.entite %}
                                                        <li class="list-group-item">
                                                            <a href="{{ path('affaire_details_entite', {id: affaire.id, entite_id: entite.id }) }}" style="text-decoration: none">
                                                                <span class="text-uppercase">{{ entite.description }}</span>&nbsp;<span class="text-uppercase">{{ entite.description2 }}</span>
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>

                                            </td>

                                            <td >
                                                Du &nbsp; {{ event.startAt|date('d-m-Y H:i:s') }}
                                                {% if event.endAt is not null %}
                                                    au &nbsp; {{ event.endAt|date('d-m-Y H:i:s') }}
                                                {% endif %}
                                            </td>

                                            <td class="text-reset  ">
                                                {{ event.localisation }}
                                            </td>

                                            <td>
                                                <a  href="{{ path('affaire_details_event', {id: affaire.id, event_id: event.id }) }}" class="btn-floating btn-sm btn-primary">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a href="{{ path('envenement_edit',{id: affaire.id , event_id: event.id }) }}" class="btn-floating btn-sm btn-deep-purple">
                                                    <i class="fa fa-pen">
                                                    </i>
                                                </a>
                                                <a href="{{ path('delete_event', {id: event.id }) }}" class="btn-floating btn-sm btn-danger" onclick="return confirm('Voulez vous vraiment supprimer cet evenement ?')">
                                                    <i  class="fa fa-trash" ></i>
                                                </a>
                                            </td>

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>

                    </div>

                </div>
            </div>
            </div>
            <!-- Tab Evenement -->

            <!-- Tab Rapport -->
            <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">
                <div class="row" style="margin-top: 1em; margin-left: 2em">
                    <a download  href="{{ path('affaire_rapport',{id:affaire.id}) }}" type="button" class="btn btn-outline-primary waves-effect">
                        <i style="color: inherit" class="fa fa-cloud-download-alt"></i> Telecharger le rapport de dossier
                    </a>
                </div>
            </div>
            <!-- Tab Rapport -->

            <!-- Tab Administration -->
            <div class="tab-pane fade" id="administration" role="tabpanel" aria-labelledby="administration-tab">
                <div class="row" style="margin-top: 1em">
                </div>
            </div>
            <!-- Tab Administration -->

        </div>
    </div>



    {% block botton_javascripts %}
        <script>

            $(document).ready(function() {


                {% if entite is not null %}

                $('#entiteModal').modal('show');
                $('#envenementModal').modal('hide');

                {% endif %}

                {% if envenement is not null %}

                $('#entiteModal').modal('hide');
                $('#envenementModal').modal('show');


                {% endif %}

                $('#entiteModal').on('hidden.bs.modal', function (event) {
                    window.location = "{{ path('affaire_details', {id: affaire.id }) }}"
                })

                $('#envenementModal').on('hidden.bs.modal', function (event) {
                    window.location = "{{ path('affaire_details', {id: affaire.id }) }}"
                })

            });


        </script>
    {% endblock %}



{% endblock %}
