{% extends 'nav.html.twig' %}

{% block title %}Affaires{% endblock %}


{% block javascripts %}


{% endblock %}

 {% block stylesheets %}

     <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.dataTables.css') }}" />
     <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.bootstrap5.css') }}" />

     <style>
         .dt-buttons{
             margin-bottom: 1em!important;
             margin-left: 0.5em!important;
         }
         #tab-content{
             display: none;
         }
         #loader{
             display: block;
         }
         #loading {
             background: url('{{ asset('/assets/img/loader.gif') }}') no-repeat center center;
             position: absolute;
             top: 0;
             left: 0;
             height: 100%;
             width: 100%;
             z-index: 9999999;
         }
     </style>
 {% endblock %}


{% block content %}




    <div style="margin-top: 1em; ">


        {% for message in app.session.flashbag.get('affaire_create') %}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}


        <ul class="nav nav-tabs md-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="affaire-tab" data-toggle="tab" href="#affaire" type="button" role="tab" aria-controls="todo" aria-selected="true">Mes dossiers</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="consult-tab" data-toggle="tab" href="#consult" type="button" role="tab" aria-controls="task" aria-selected="false">Mes consultations</a>
            </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="affaire" role="tabpanel" aria-labelledby="affaire-tab">
                <div class="row" style="margin-top:  1em; margin-left: 1em; width: 100% ">

                    <div style="margin-left: 0.7em">
                        <a href="{{ path('affaire_create') }}" class="btn blue-gradient">
                            <i class="fa fa-plus"></i>
                            Creer un nouveau dossier
                        </a>
                    </div>

                    <div class="col col-12">
                        <table  class="table table-bordered table-hover text-center display">
                            <thead>
                            <tr>
                                <th class="th-sm">

                                </th>
                                <th class="th-sm">Numero de dossier
                                </th>
                                <th class="th-sm">Nom de dossier
                                </th>
                                <th class="th-sm">
                                    Niveau d'accreditation
                                </th>
                                <th class="th-sm">Date d'ouverture
                                </th>
                                <th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for affaireUtilisateur in affairesUtilisateur %}
                                <tr>
                                    <td><i class="fa fa-folder"></i></td>
                                    <td>{{ affaireUtilisateur.affaire.numeroMatricule }}</td>
                                    <td>{{ affaireUtilisateur.affaire.nom }}</td>
                                    <td>{{ affaireUtilisateur.affaire.niveauAccreditation }}</td>
                                    <td>{{ affaireUtilisateur.affaire.createdAt|date('d-m-Y H:i:s') }}</td>
                                    <td><a href="{{ path('affaire_details',{'id':affaireUtilisateur.affaire.id}) }}" class="btn-floating btn-sm btn-primary"><i class="fas fa-eye"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="consult" role="tabpanel" aria-labelledby="consult-tab">
                <div class="row" style="margin-top: 1em">
                    <div class="col col-12">
                        <table  class="table table-bordered table-hover text-center display">
                            <thead>
                            <tr>
                                <th class="th-sm">
                                </th>
                                <th class="th-sm">Numero de dossier
                                </th>
                                <th class="th-sm">Nom de dossier
                                </th>
                                <th class="th-sm">
                                    Niveau d'accreditation
                                </th>
                                <th class="th-sm">Date d'expiration
                                </th>
                                <th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for consultation in consultations %}
                                <tr>
                                    <td><i class="fa fa-folder"></i></td>
                                    <td>{{ consultation.affaire.numeroMatricule }}</td>
                                    <td>{{ consultation.affaire.nom }}</td>
                                    <td>{{ consultation.affaire.niveauAccreditation }}</td>
                                    <td>{{ consultation.affaire.expireAt|date('d-m-Y H:i:s') }}</td>
                                    <td><a href="{{ path('affaire_details',{'id':consultation.affaire.id}) }}" class="btn-floating btn-sm btn-primary"><i class="fas fa-eye"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {% block botton_javascripts %}
        <script>

            $(document).ready(function() {

            });


        </script>
    {% endblock %}




{% endblock %}
