

<div>

    {{ form_start(form) }}

    <div class="row">
        <div class="col col-8">
            <div class="text-danger">
                {{ form_errors(form) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(form.name, "Nom: ", {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(form.name) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(form.description, "Description: ", {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(form.description) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(form.country, "Pays: ", {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(form.country) }}
                </div>
            </div>
        </div>
    </div>



    <div class="row" style="margin-top: 2em">
        <div class="col col-12">
            <div class="row">
                <div class="col col-2">
                    {{ form_row(form.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                </div>
                <div class="col col-2">
                    {{ form_row(form.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

</div>