
{% block PieceJointeType_row %}
    <div class="row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block PieceJointeType_widget %}
    <div class="col col-6">
        <div class="mb-3">
            <div class="col md-form">
                <div class="file-field">
                    <a class="btn-floating purple-gradient mt-0 float-left">
                        <i class="fas fa-camera" aria-hidden="true"></i>
                        {{ form_widget(form.file) }}
                    </a>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Cliquer ici pour charger un fichier">
                    </div>
                </div>
            </div>
            <div class="form-error" style="color: red">
                {{ form_errors(form.file) }}
            </div>
        </div>
    </div>
    <div class="col col-4 mt-4">
        <div class="d-flex flex-row">
            <a href="#" class="collection-add btn btn-sm btn-primary"><span class="fa fa fa-plus-circle"></span></a>
            <a href="#" class="collection-remove btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
        </div>
    </div>
{% endblock %}




