{% extends 'nav.html.twig' %}

{% block title %}Tableau de bord{% endblock %}


{% block javascripts %}


{% endblock %}

 {% block stylesheets %}

     <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.dataTables.css') }}" />
     <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.bootstrap5.css') }}" />

     <style>
         .dt-buttons{
             margin-bottom: 1em!important;
             margin-left: 0.5em!important;
         }
         #tab-content{
             display: none;
         }
         #loader{
             display: block;
         }
         #loading {
             background: url('{{ asset('/assets/img/loader.gif') }}') no-repeat center center;
             position: absolute;
             top: 0;
             left: 0;
             height: 100%;
             width: 100%;
             z-index: 9999999;
         }
     </style>
 {% endblock %}


{% block content %}




    {% if db_task is not null %}
        <!-- Modal Tache -->
        <div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todoModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">

            <div class="modal-dialog modal-lg modal-notify modal-info modal-dialog-scrollable" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Tache</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-left">
                            <!-- <i class="fas fa-window-close fa-4x mb-3 animated rotateIn"></i> -->


                            <div class="mb-2">
                                <span class="font-weight-bold">Affaire : </span>
                                <span>{{ db_task.affaire.numeroMatricule }} &nbsp; / &nbsp;{{ db_task.affaire.nom }}</span>
                            </div>

                            <div class="mb-2">
                                <span class="font-weight-bold">Titre : </span>
                                <span>{{ db_task.titre }} </span>
                            </div>

                            <div class="mb-2">
                                <span class="font-weight-bold">Priorite : </span>
                                {% if db_task.priorite == 1 %}
                                    <span class="font-weight-bold">Normale</span>
                                {% endif %}

                                {% if db_task.priorite == 2 %}
                                    <span class="font-weight-bold text-warning">Moyen</span>
                                {% endif %}

                                {% if db_task.priorite == 3 %}
                                    <span class="font-weight-bold text-danger">Elevee</span>
                                {% endif %}

                            </div>

                            {% if db_task.createdBy.id != user.id %}

                                <div class="mb-2">
                                    <span class="font-weight-bold">Demandeur : </span>
                                    <span class="text-uppercase">{{ db_task.createdBy.nom }} &nbsp; {{ db_task.createdBy.prenom }}</span>
                                </div>

                            {% endif %}

                            <div class="mb-2">
                                <span class="font-weight-bold">Cree le : </span>
                                <span class="text-uppercase">{{ db_task.createdAt | date('d-m-Y H:i:s') }} </span>
                            </div>

                            <div class="mb-2">
                                <span class="font-weight-bold">Expire le : </span>
                                <span class="text-uppercase">{{ db_task.expireAt | date('d-m-Y H:i:s') }} </span>
                            </div>

                            <hr>

                            <div class="mb-2">
                                {{ db_task.resume | raw }}
                            </div>

                            <hr>

                            <!-- Card -->
                            <div class="card card-cascade">

                                <!-- Card image -->
                                <div class="view view-cascade gradient-card-header blue-gradient">

                                    <!-- Subtitle -->
                                    <p class="card-header-subtitle mb-0">Traitement de la demande</p>

                                </div>

                                <!-- Card content -->
                                <div class="card-body card-body-cascade text-center">

                                    <!-- Text -->
                                    <table id="dtMaterialDesignExample" class="table text-left" >
                                        <thead>
                                            <tr>
                                                <th class="th-sm">Statut
                                                </th>
                                                <th class="th-sm">Derniere MAJ
                                                </th>
                                                <th class="th-sm">Utilisateur
                                                </th>
                                                <th class="th-sm">Remarques
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for tacheUtilisateur in db_task.tacheUtilisateurs %}
                                                <tr>
                                                    <td>
                                                        {% if tacheUtilisateur.statut == 0 %}
                                                            <span class="font-weight-bold">En attente</span>
                                                        {% endif %}

                                                        {% if tacheUtilisateur.statut == 1 %}
                                                            <span class="font-weight-bold text-success">Traite</span>
                                                        {% endif %}

                                                        {% if tacheUtilisateur.statut == 2 %}
                                                            <span class="font-weight-bold text-danger">Refuse</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ tacheUtilisateur.updatedAt | date('d-m-Y H:i:s') }}</td>
                                                    <td>{{ tacheUtilisateur.utilisateur.nom }}&nbsp;{{ tacheUtilisateur.utilisateur.prenom }}</td>
                                                    <td>{{ tacheUtilisateur.remarque | raw }}</td>
                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Card -->


                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer">


                        {% set isTacheUtilisateur = false %}
                        {% set pending = false %}
                        {% set id = 0 %}

                        {% for tacheUtilisateur in db_task.tacheUtilisateurs %}
                            {% if tacheUtilisateur.utilisateur.id == user.id %}
                                {% set isTacheUtilisateur = true %}
                                {% set id =  tacheUtilisateur.id %}
                                {% if tacheUtilisateur.statut == 0 %}
                                    {% set pending = true %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if pending == true and isTacheUtilisateur == true and db_task.isExpired() == false %}

                            <div class="dropdown dropup">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Accepter
                                </a>

                                <div class="dropdown-menu">

                                    {{ form_start(acceptTaskForm) }}

                                    {{ form_errors(acceptTaskForm) }}

                                    <div class="mb-3">
                                        {{ form_label(acceptTaskForm.remarque, '', {'label_attr': {'class': 'intitule_label'}}) }}
                                        {{ form_widget(acceptTaskForm.remarque, {'attr': {'class': 'form-control'}}) }}
                                        <div class="form-error" style="color: red">
                                            {{ form_errors(acceptTaskForm.remarque) }}
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="col col-12">
                                        <div class="row">
                                            {{ form_row(acceptTaskForm.valider,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                                        </div>
                                    </div>

                                    {{ form_end(acceptTaskForm) }}

                                </div>
                            </div>



                            <div class="dropdown dropup">
                                <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Refuser
                                </a>

                                <div class="dropdown-menu">

                                    {{ form_start(rejectTaskForm) }}

                                    {{ form_errors(rejectTaskForm) }}

                                    <div class="mb-3">
                                        {{ form_label(rejectTaskForm.remarque, '', {'label_attr': {'class': 'intitule_label'}}) }}
                                        {{ form_widget(rejectTaskForm.remarque, {'attr': {'class': 'form-control'}}) }}
                                        <div class="form-error" style="color: red">
                                            {{ form_errors(rejectTaskForm.remarque) }}
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="col col-12">
                                        <div class="row">
                                            {{ form_row(rejectTaskForm.valider,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                                        </div>
                                    </div>

                                    {{ form_end(rejectTaskForm) }}

                                </div>
                            </div>

                        {% endif %}

                        <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Fermer</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
    {% endif %}




    <div style="margin-top: 1em; ">


        <ul class="nav nav-tabs md-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo" type="button" role="tab" aria-controls="todo" aria-selected="true">Demandes a traiter</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="task-tab" data-toggle="tab" href="#task" type="button" role="tab" aria-controls="task" aria-selected="false">Mes demandes d'acces</a>
            </li>
        </ul>
        <div class="tab-content card pt-5" id="myTabContent">
            <div class="tab-pane fade show active" id="todo" role="tabpanel" aria-labelledby="todo-tab">
                <div class="row" style="margin-top:  1em; margin-left: 1em; width: 100% ">

                    {% for message in app.session.flashbag.get('accept_task') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>{{ message }}!</strong>
                            <button type="button" class="close"  data-dismiss="alert"  aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}


                    {% for message in app.session.flashbag.get('reject_task') %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ message }}!</strong>
                            <button type="button" class="close"  data-dismiss="alert"  aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}

                    <div class="col col-12">
                        <table id="todoTable" class="table table-bordered table-hover text-center display">
                            <thead>
                            <tr>
                                <th class="th-sm">Demandeur
                                </th>
                                <th class="th-sm">Priorite
                                </th>
                                <th class="th-sm">Titre
                                </th>
                                <th class="th-sm">Statut
                                </th>
                                <th class="th-sm">Expiration
                                </th>
                                <th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in tacheUtilisateur %}
                                <tr>
                                    <td class="text-uppercase">{{ task.tache.createdBy.nom }}&nbsp;{{ task.tache.createdBy.prenom }}</td>
                                    <td data-sort="{{ task.tache.priorite }}">
                                        {% if task.tache.priorite == 1 %}
                                            <span class="font-weight-bold">Normale</span>
                                        {% endif %}

                                        {% if task.tache.priorite == 2 %}
                                            <span class="font-weight-bold text-warning">Moyen</span>
                                        {% endif %}

                                        {% if task.tache.priorite == 3 %}
                                            <span class="font-weight-bold text-danger">Elevee</span>
                                        {% endif %}
                                    </td>

                                    <td>{{ task.tache.titre }}</td>

                                    <td data-sort="{{ task.statut }}">
                                        {% if task.statut == 0 %}
                                            <span class="font-weight-bold">En attente</span>
                                        {% endif %}

                                        {% if task.statut == 1 %}
                                            <span class="font-weight-bold text-success">Traite</span>
                                        {% endif %}

                                        {% if task.statut == 2 %}
                                            <span class="font-weight-bold text-danger">Refuse</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if task.tache.isExpired() == true %}
                                            <span class="text-danger">Expire</span>
                                        {% else %}
                                            {{ task.tache.getExpiresIn() }}
                                        {% endif %}

                                    </td>
                                    <td>
                                        <a href="{{ path('dashboard', {t_id: task.tache.id }) }}" class="btn-floating btn-sm btn-primary">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="task" role="tabpanel" aria-labelledby="task-tab">
                <div class="row" style="margin-top: 1em">

                   <div class="col col-12">
                       <table id="todoTable" class="table  table-bordered table-hover text-center display" style="width: 100%">
                           <thead>
                           <tr>
                               <th class="th-sm">Priorite
                               </th>
                               <th class="th-sm">Titre
                               </th>
                               <th class="th-sm">Expiration
                               </th>
                               <th>
                               </th>
                           </tr>
                           </thead>
                           <tbody>
                           {% for task in tasks %}
                               <tr>
                                   <td data-sort="{{ task.priorite }}">
                                       {% if task.priorite == 1 %}
                                           <span class="font-weight-bold">Normale</span>
                                       {% endif %}

                                       {% if task.priorite == 2 %}
                                           <span class="font-weight-bold text-warning">Moyen</span>
                                       {% endif %}

                                       {% if task.priorite == 3 %}
                                           <span class="font-weight-bold text-danger">Elevee</span>
                                       {% endif %}
                                   </td>

                                   <td>{{ task.titre }}</td>

                                   <td>
                                       {% if task.isExpired() == true %}
                                           <span class="text-danger">Expire</span>
                                       {% else %}
                                           {{ task.getExpiresIn() }}
                                       {% endif %}
                                   </td>
                                   <td>
                                       <a href="{{ path('dashboard', {t_id: task.id }) }}"  class="btn-floating btn-sm btn-primary"><i class="fas fa-eye"></i></a>
                                   </td>
                               </tr>
                           {% endfor %}
                           </tbody>
                       </table>
                   </div>

                </div>
            </div>
        </div>
    </div>




    {% block botton_javascripts %}
        <script>

            $(document).ready(function() {

                {% if db_task is not null %}

                    $('#todoModal').modal('show');

                {% endif %}

                $('#todoModal').on('hidden.bs.modal', function (event) {
                    window.location = "{{ path('dashboard') }}"
                })

            });


        </script>
    {% endblock %}




{% endblock %}
