{% extends 'nav.html.twig' %}

{% block title %}Tableau de bord{% endblock %}


{% block javascripts %}
    <script  src="{{ asset('/assets/js/datepicker/moment.min.js') }}"></script>
    <script  src="{{ asset('/assets/js/datepicker/daterangepicker.js') }}"></script>
    <script  src="{{ asset('/assets/js/custom/picker.js') }}"></script>

{% endblock %}

 {% block stylesheets %}

     <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.dataTables.css') }}" />
     <link rel="stylesheet" href="{{ asset('/assets/css/datatables/buttons.bootstrap5.css') }}" />
     <link rel="stylesheet" href="{{ asset('/assets/css/fileinput/fileinput.min.css') }}" />
     <link rel="stylesheet" href="{{ asset('/assets/css/fileinput/fileinput-rtl.min.css') }}" />
     <link rel="stylesheet" href="{{ asset('/assets/css/datepicker/daterangepicker.css') }}" />


     <style>
         .dt-buttons{
             margin-bottom: 1em!important;
             margin-left: 0.5em!important;
         }
         #tab-content{
             display: none;
         }
         #loader{
             display: block;
         }
         #loading {
             background: url('{{ asset('/assets/img/loader.gif') }}') no-repeat center center;
             position: absolute;
             top: 0;
             left: 0;
             height: 100%;
             width: 100%;
             z-index: 9999999;
         }
         .pagination .page-item .page-link{
             color: white!important;
         }
     </style>
 {% endblock %}


{% block content %}


    <div style="margin-top: 1em; ">



        {{ form_start(personneForm) }}

        <div class="col col-8">
            <div class="text-danger">
                {{ form_errors(personneForm) }}
            </div>
        </div>




        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(personneForm.role, "Role de la personne : ", {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(personneForm.role, {'attr': {'class': 'mdb-select md-form colorful-select dropdown-ins'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(personneForm.role) }}
                </div>
            </div>
        </div>




        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(personneForm.mainPicture, "Image principale : ", {'label_attr': {'class': 'intitule_label'}}) }}
                <div class="file-loading">
                    {{ form_widget(personneForm.mainPicture,{'id':'mainPicture'},{'attr': {'class': ''}}) }}
                </div>
                <div class="form-error" style="color: red">
                    {{ form_errors(personneForm.mainPicture) }}
                </div>
            </div>
        </div>


        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(personneForm.resume, "Rapport initial : ", {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(personneForm.resume,{'id':'resume'}, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(personneForm.resume) }}
                </div>
            </div>
        </div>



        <div class="col col-12 mb-3">
            <div id="editor" style="color: inherit">

            </div>
        </div>


        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(personneForm.nom, "Nom : ", {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(personneForm.nom, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(personneForm.nom) }}
                </div>
            </div>
        </div>

        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(personneForm.prenom, "Prenoms : ", {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(personneForm.prenom, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(personneForm.prenom) }}
                </div>
            </div>
        </div>


        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(personneForm.dateNaissance, '', {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(personneForm.dateNaissance, {'attr': {'class': 'form-control js-datepicker'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(personneForm.dateNaissance) }}
                </div>
            </div>
        </div>


        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(personneForm.sexe, "Sexe : ", {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(personneForm.sexe, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(personneForm.sexe) }}
                </div>
            </div>
        </div>


        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(personneForm.numPassport, "Numero de passport : ", {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(personneForm.numPassport, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(personneForm.numPassport) }}
                </div>
            </div>
        </div>


        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(personneForm.numCarte, "Numero de carte : ", {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(personneForm.numCarte, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(personneForm.numCarte) }}
                </div>
            </div>
        </div>


        <div class="col col-5">
            <div class="mb-3">
                {{ form_label(personneForm.nationalite, "Nationalite : ", {'label_attr': {'class': 'intitule_label'}}) }}
                {{ form_widget(personneForm.nationalite, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(personneForm.nationalite) }}
                </div>
            </div>
        </div>




        <div class="card">

            <!-- Card image -->
            <div class="card-header">
                <button type="button" class="add_item_link btn blue-gradient" data-collection-holder-class="telephone">Ajouter un numero de telephone</button>
            </div>

            <!-- Card content -->
            <div class="card-body">


                <ul class="telephone" data-index="{{ personneForm.telephone|length > 0 ? personneForm.telephone|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(personneForm.telephone.vars.prototype)|e('html_attr') }}">

                    <div class="row">
                        {% for telephone in personneForm.telephone %}
                            <div class="col col-5">
                                <div class="mb-3">
                                    {{ form_label(telephone.numero, "Numero de telephone : ", {'label_attr': {'class': 'intitule_label'}}) }}
                                    {{ form_widget(telephone.numero, {'attr': {'class': 'form-control'}}) }}
                                    <div class="form-error" style="color: red">
                                        {{ form_errors(telephone.numero) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col col-5">
                                <div class="mb-3">
                                    {{ form_label(telephone.fichierCdr, "Fichier CDR  : ", {'label_attr': {'class': 'intitule_label'}}) }}
                                    {{ form_widget(telephone.fichierCdr, {'attr': {'class': 'form-control'}}) }}
                                    <div class="form-error" style="color: red">
                                        {{ form_errors(telephone.fichierCdr) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </ul>


            </div>

        </div>


        <div class="col col-12">
            <div class="row">
                <div class="col col-2">
                    {{ form_row(personneForm.cancel,{'attr':{'class': 'btn btn-outline-secondary form-btn'}}) }}
                </div>
                <div class="col col-2">
                    {{ form_row(personneForm.submit,{'attr':{'class': 'btn btn-outline-success form-btn'}}) }}
                </div>
            </div>
        </div>






        {{ form_end(personneForm) }}
    </div>






{% endblock %}





    {% block botton_javascripts %}
        <script  src="{{ asset('/assets/js/custom/personne.js') }}"></script>
    {% endblock %}
